@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce {
  animation-timing-function: cubic-bezier(0.14, 0.85, 0.82, 1.06);
}

.linear {
  animation-timing-function: linear;
}

.delay-250 {
  animation-delay: 0.25s;
}

.delay-350 {
  animation-delay: 0.35s;
}

.delay-500 {
  animation-delay: 0.5s;
}
.delay-1000 {
  animation-delay: 1s;
}

.delay-750 {
  animation-delay: 0.75s;
}

/* top to botttom */
.sliding-ttb {
  animation-name: sliding-ttb;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

/* botttom to top */
.sliding-btt {
  animation-name: sliding-btt;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

/* left to right */
.sliding-ltr {
  animation-name: sliding-ltr;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

/* right to left */
.sliding-rtl {
  animation-name: sliding-rtl;
  animation-duration: 700ms;

  animation-fill-mode: forwards;
}

.slide-ttb {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.slide-btt {
  clip-path: polygon(0 0%, 100% 0%, 100% 0%, 0 0%);
}

.slide-ltr {
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
}

.slide-rtl {
  clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 0% 100%);
}

@keyframes sliding-ttb {
  0% {
    transform: translateY(-120%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  100% {
    transform: translateY(0%);
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  }
}

@keyframes sliding-btt {
  0% {
    transform: translateY(100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 0%, 0 0%);
  }

  100% {
    transform: translateY(0%);
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  }
}

@keyframes sliding-ltr {
  0% {
    transform: translateX(-120%);
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
  }

  100% {
    transform: translateX(0%);
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0);
  }
}

@keyframes sliding-rtl {
  0% {
    transform: translateX(100%);
    clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 0% 100%);
  }

  100% {
    transform: translateX(0%);
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
  }
}

.danhda {
  font-family: "DanhDa-Bold", monospace;
  font-weight: bold;
  font-style: normal;
}

.miso {
  font-family: "miso-regular", monospace;
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "miso-regular", monospace;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "miso-regular", monospace;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}

.cur-color {
  color: rgb(161 161 170) !important;
}
.cur-color > div {
  background-color: rgb(161 161 170);
  width: 3rem;
}
